.navbar {
  margin-bottom: 32px;
  .navbar_item {
    border-radius: 30px;
    background: #f9f9f9;
  }
  .selected {
    background: black;
    color: white;
  }
  .sortBy {
    img {
      width: 24px;
    }
    .selectSortBy {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: #fe5f1e;
      border-bottom: 1px dashed #eb5a1e;
    }
  }
}
