.navbar {
  .navbar_item {
    border-radius: 30px;
    background: #f9f9f9;
  }
  .sortBy {
    .selectSortBy {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: #fe5f1e;
      text-decoration: underline;
      padding-left: 10px;
    }
  }
}
